div.cal{
    float: left;
    width: 50%
}

div.steps{
    float: right;
    width: 50%
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

li{
    width:200px;

    margin: 2em;
    
    
    background-color: rgb(255, 255, 255);
    
}

ul{
    list-style: none;
}